<div class="innerElement">
    <div class="placeholder">
        <img id="tmpimg" src="img/placeholders/placeholderImage.png">
    </div>
    <img class="bigimage" src="" style="width: 100%; height: 100%; border-radius: 5px;">
</div>

<script>
    $(document.body).on("renderTheme", function (e){

        if(e.hasOwnProperty("themeRemoved")){
            $('.'+ e.themeName).find('.bigimage').attr("src","");
            $('.'+ e.themeName).find('.bigimage').hide();
            $('.'+ e.themeName).find('.placeholder').show();
        }

        else if(e.theme > 0){ //Do stuff if theme exists
            if(e.hasOwnProperty("id")){
                $('#'+ e.id).find('.placeholder').hide();
                $('.'+ e.id).find('.bigimage').show();
                $('#'+ e.id).find('.bigimage').attr("src",content.themes[e.theme].bigimage);
            } else if (e.hasOwnProperty("themeName")){
                $('.'+ e.themeName).find('.placeholder').hide();
                $('.'+ e.themeName).find('.bigimage').show();
                $( "."+ e.themeName).find('.bigimage').attr("src",content.themes[e.theme].bigimage);
            }
        }
        else {
            $('#'+ e.id).find('.bigimage').attr("src","");
            $('#'+ e.id).find('.bigimage').hide();
            $('#'+ e.id).find('.placeholder').show();
        }
    });
</script>