<div class="innerElement" style="background-color: orange">
    <h1 class="imagetext"></h1>
</div>

<script>

    //maybe must send id
    // maybe must all have a unique class

    $(document.body).on("renderTheme", function (e){

        if(e.theme > 0){ //Do stuff if theme exists
            if(e.hasOwnProperty("id")){
                $('#'+ e.id).find('.imagetext').text("BJÖRN");
            } else if (e.hasOwnProperty("themeName")){
                $( "."+ e.themeName).find(".imagetext").text("BJÖRN");
            }
        }
        else {
            $('#'+ e.id).find('.imagetext').text("INGENTING");
        }

        // if has id
        // render unique id
        // if has theme
        // render all with theme
        // else (no theme no id
        //render only with color
    });
</script>