<div class="innerElement">
    <img class="smallimage" src="" style="width: 100%; height: 100%; border-radius: 25px;">
</div>

<script>
    $(document.body).on("renderTheme", function (e){

        if(e.hasOwnProperty("themeRemoved")){
            $('.'+ e.themeName).find('.smallimage').attr("src","");
        }

        else if(e.theme > 0){ //Do stuff if theme exists
            if(e.hasOwnProperty("id")){
                $('#'+ e.id).find('.smallimage').attr("src",content.themes[e.theme].smallimage);
            } else if (e.hasOwnProperty("themeName")){
                $( "."+ e.themeName).find('.smallimage').attr("src",content.themes[e.theme].smallimage);
            }
        }
        else {
            $('#'+ e.id).find('.smallimage').attr("src","");
        }
    });
</script>