<div class="innerElement">
    <div class="placeholder">
        <img id="tmpimg" src="img/placeholders/placeholderVideo.png">
    </div>
    <iframe class="video" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
</div>

<script>
    $(document.body).on("renderTheme", function (e){

        if(e.hasOwnProperty("themeRemoved")){
            $('.'+ e.themeName).find('.video').attr("src","");
            $('.'+ e.themeName).find('.placeholder').show();

        }

        else if(e.theme > 0){ //Do stuff if theme exists
            if(e.hasOwnProperty("id")){
                $('#'+ e.id).find('.placeholder').hide();
                $('#'+ e.id).find('.video').attr("src",content.themes[e.theme].video);
            } else if (e.hasOwnProperty("themeName")){
                $('.'+ e.themeName).find('.placeholder').hide();
                $( "."+ e.themeName).find('.video').attr("src",content.themes[e.theme].video);
            }
        }
        else {
            $('#'+ e.id).find('.video').attr("src","");
            $( "#"+ e.id).find('.innerElement').css("border-width", "2px");
        }
    });
</script>